{
  "presets": ["es2015-node6/object-rest", "stage-0"],
  "plugins": ["transform-runtime", "transform-flow-strip-types"],
  "env": {
    "development": {
      "sourceMaps": true
    },
    "test": {
      "sourceMaps": "both",
      "plugins": ["istanbul"]
    }
  }
}
